@import '../commonStyles/variables.module.scss';

.container {
  padding: 35px;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
}

@media screen and (min-width: $tablet) {
  .container {
    padding: 50px 100px;
  }
}
