.linkHome {
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .linkHome {
    margin-right: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .linkHome {
    margin-right: 20px;
  }
}
