@import '../commonStyles/variables.module.scss';

.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.activeLink {
  color: rgba(192, 38, 110, 0.89);
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

@media screen and (min-width: $tablet) {
  .link {
    font-size: 18px;
  }
}
@media screen and (min-width: $desktop) {
  .link {
    font-size: 20px;
  }
}
