.container {
  align-items: center;
  /* display: flex; */
}

.greeting {
  margin-right: 5px;
  font-size: 12px;
  font-weight: bold;
  color: darkviolet;
}

.button {
  padding: 2px 10px;
  font-size: 14px;

  background: #fff;
  cursor: pointer;

  border-style: none;
  border: 1px solid rgb(189, 188, 188);
  border-radius: 3px;
  box-shadow: 4px 4px 5px 1px rgba(172, 171, 171, 0.7);
}

.button:hover,
.button:focus {
  background: lightblue;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
  }

  .button {
    padding: 5px 20px;
    font-size: 16px;
  }
  .greeting {
    margin-right: 15px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .button {
    font-size: 18px;
  }
  .greeting {
    font-size: 20px;
  }
}
